
html {
  font-size: 1.1111112vw!important;
  @media (max-width: 1200px) {
    font-size: 1.35vw!important;
  }
  @media (max-width: 960px) {
    font-size: 1.5vw!important;
  }
  @media (max-width: 768px) {
    font-size: 2vw!important;
  }
  @media (max-width: 568px) {
    font-size: 5vw!important;
  }
}
.v-input {
  position: relative;
  margin-bottom: size(24px);
}
.v-input__details {
  position: absolute;
  bottom: size(-20px);
}
.modal-card {
  padding: 20px!important;
  align-items: center;
  .v-input {
    max-width: 300px;
  }
  .modal-close-btn {
    position: absolute!important;
    top: 10px;
    right: 10px;
  }
}

.v-container {
  padding: 0 16px!important;
}
@media (min-width: 960px) {
  .v-container {
    max-width: unset!important;
  }
}